<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/upload.css') }}">

  <!-- ===== Title ===== -->
  <title>Upload excel file</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='mini_logo.png')}}" defer>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->


</head>

<body>

  <div class="split left">
    <div class="centered_left">
      <img src="{{url_for('static', filename='logo.png')}}" alt="logo">
    </div>
  </div>

  <div class="split right">

    <div class="sign-out">
      <span class="text"><a href="logout" class="text signout">Sign out</a></span>
    </div>

    <div class="centered">
      <div class="admin_container">
        <form method="get" action="file.doc"></form>
        <div class="table-area">
          <table id="table">
            <thead>
              <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th colspan="2">File Name</th>
                <th>Operator</th>
                <th class="date">Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" class="checkbox"></td>
                <td style="text-align: center;"><i class="fa fa-file-excel" aria-hidden="true" id="excel_icon_old"></i>
                </td>
                <td>Operator 1.xlsx </br> 16 KB.xlsx</td>
                <td>Operator 1</td>
                <td id="date-column">29/1/2023 </br> 19:00</td>
                <td><button class="icon_download_button"><i class="fa fa-arrow-down" aria-hidden="true"></i></button></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="checkbox"></td>
                <td style="text-align: center;"><i class="fa fa-file-excel" aria-hidden="true" id="excel_icon_old"></i>
                </td>
                <td>Operator 2.xlsx </br> 16 KB.xlsx</td>
                <td>Operator 2</td>
                <td id="date-column">2/2/2023 </br> 24:00</td>
                <td><button class="icon_download_button"><i class="fa fa-arrow-down" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>
          </table>
          </br>
        </div>
        <div class="admin_lower_container">
          <button class="history_button" type="submit" onclick="window.location.href='admin'">Recently
            Uploaded</button>
          <button class="download_button_h" type="submit" onclick="">Download
            All</button>
          <button class="aggergate_button" type="submit" onclick="">Aggregate
            All</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.10/js/all.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <!-- <script type="text/javascript" src='scripts/admin.js'></script> -->
  
</body>

</html>