<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Main_style.css') }}" defer>
         
    <!-- ===== Title ===== -->
    <title>Welcome to CORSIA</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='logo.png')}}">

</head>
<body>
    <div class="split left">
        <div class="centered">
            <img src="{{url_for('static', filename='logo.png')}}" alt="logo">
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <div class="container">
                <div class="forms">
                    <div class="form login">
                        <span class="title">Login</span>
                        <!-- Login Form -->
                        <form action = "/upload" method = "GET">
                            <div class="input-field">
                                <input type="text" placeholder="Enter your email" required>
                                <i class="uil uil-envelope icon"></i>
                            </div>
                            <div class="input-field">
                                <input type="password" class="password" placeholder="Enter your password" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showHidePw"></i>
                            </div>

                            <div class="checkbox-text">
                                <div class="checkbox-content">
                                    <input type="checkbox" id="logCheck">
                                    <label for="logCheck" class="text">Remember me</label>
                                </div>
                                
                                <a href="#" class="text">Forgot password?</a>
                            </div>

                            <div class="input-field button">
                                <input type="button" value="Login" onclick = "window.location.href='upload';">
                            </div>
                        </form>

                        <div class="login-signup">
                            <span class="text">Not a member?
                                <a href="#" class="text signup-link">Signup Now</a>
                            </span>
                        </div>
                    </div>

                    <!-- Registration Form -->
                    <div class="form signup">
                        <span class="title">Registration</span>

                        <form action="#">
                            <div class="input-field">
                                <input type="text" placeholder="Enter your name" required>
                                <i class="uil uil-user"></i>
                            </div>
                            <div class="input-field">
                                <input type="text" placeholder="Enter your email" required>
                                <i class="uil uil-envelope icon"></i>
                            </div>
                            <div class="input-field">
                                <input type="password" class="password" placeholder="Create a password" required>
                                <i class="uil uil-lock icon"></i>
                            </div>
                            <div class="input-field">
                                <input type="password" class="password" placeholder="Confirm a password" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showHidePw"></i>
                            </div>

                            <div class="checkbox-text">
                                <div class="checkbox-content">
                                    <input type="checkbox" id="termCon">
                                    <label for="termCon" class="text">I accepted all terms and conditions</label>
                                </div>
                            </div>

                            <div class="input-field button">
                                <input type="button" value="Signup" onclick = "window.location.href='upload.html';">
                            </div>
                        </form>

                        <div class="login-signup">
                            <span class="text">Already a member?
                                <a href="#" class="text login-link">Login Now</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename= 'scripts/script.js') }}" defer></script>

</body>
</html>
